.wrapper0{
    padding:10px;
    margin:auto;
    width:60%;

    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
}

.animal0{
    flex-basis:22%;

    padding:10px;
    border:1px solid black;
    width:fit-content;
    text-align:center;
    text-decoration:none;
    color:black;
}

.animal0 img{
    width:200px;
}

.notificationContainer{
    position:absolute;
    top:10px;
    left:10px;
}